:root{
    /* font */
    --font_main: Heebo;
    --font1: Abril fatface;
    --font2:Comforter Brush;

    /* color */
    --color_main: #029E9D; 
    --color_brush: #FDC703;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font_main);
}
.flex{
    display: flex;
}
#Header {
    background-color: var(--color_main);
    padding: 20px 0;
}
.header-main{
    align-items: center;
    justify-content: center;
}
#Header .navbar-collapse{
    width: 84vw;
}
#Header .navbar{
    margin: 0 50px;
}
#Header img {
    border-radius: 50%;
    height: 100px;
    width: auto;
}
#Header ul {
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    list-style: none;
}
#Header a{
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    padding: 13px 0;
    text-transform: capitalize;
    text-decoration: none;
}
#Header .booking-button a {
    color: var(--color_main);
    background-color: #fff;
}
#Header .booking-button {
    height: 60px;
    padding: 15px 25px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #fff;
}
#Header .booking-button:hover {
    background-color: var(--color_main);
}
#Header .booking-button:hover a{
    color: #fff;
    background-color: var(--color_main);
}
#Header .nav-item {
    position: relative;
    z-index: 999;
}
#Header .nav-list .nav-item::before {
    width: 36px;
    height: 36px;
    background: #028B8A;
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
#Header .nav-list .nav-item:hover::before {
    opacity: 0.7;
    visibility: visible;
}
.scrollup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    line-height: 40px;
    background: #029E9D;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
}
body {
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    color: #666;
}
#footer{
    width: 100%;
    float: left;
    height: auto;
    padding: 70px 0;
    background: #17233E url(./img/footer-bg.png) no-repeat top center;
}
#footer .container{
    width: 84vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#footer .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
#footer .row  .col1 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
#footer .row  .col2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 15px;
} 
#footer .row  .col3 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding: 0 15px;
}
#footer .row .footer-widget {
    width: 100%;
    float: left;
    height: auto;
    margin: 0 0 30px;
}
#footer .row h5 {
    color: #fff;
    margin: 0 0 30px;
    font-family: var(--font_main);
    font-size: 24px;
    font-weight: 600;
}
#footer .row ul{
    list-style-type: none;
}
#footer .row a {
    color: #fff;
    opacity: 0.8;
    outline: none !important;
    text-decoration: none;
}
#footer .row p {
    color: #fff;
    opacity: 0.8;
}
#footer .subcribe-form {
    position: relative;
    height: 74px;
    margin-top: 30px;
}
#footer .subcribe-form input {
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-out;
    height: 100%;
    color: #B9B9B9;
    padding: 20px;
    width: auto;
}
#footer .subcribe-form button {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: #029E9D;
    height: 100%;
    border-radius: 5px;
    padding: 10px 25px;
    width: auto;
}
#footer .footer-left {
    display: flex;
    align-items: center;
}
#footer .mt-5, .my-5 {
    margin-top: 3rem!important;
}
#footer .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#footer .footer-left img {
    width: 196px;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
#footer .footer-left .h-border {
    margin: 0 30px;
    height: 40px;
    border: 1px solid #818A9F;
}
#footer .social{
    text-align: center;
    justify-content: space-between;
    width: 25vw;
}
#footer .social i{
    font-size: 30px;
    padding: 1rem;
}
#footer .social ul{
    align-items: center;
    justify-content: space-between;
}
#footer .social li{
    width: 62px;
    background-color: #414c61;
    border-radius: 50%;
    margin: 0 5px;
}