* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font_main);
}

.flex {
    display: flex;
}

.border_radius {
    border: 2px solid #E1E1E1;
    border-radius: 5px;
}

/* Header */
#Header {
    background-color: var(--color_main);
    padding: 20px 0;
}

.header-main {
    align-items: center;
    justify-content: center;
}

#Header .navbar-collapse {
    width: 84vw;
}

#Header .navbar {
    margin: 0 50px;
}

#Header img {
    border-radius: 50%;
    height: 100px;
    width: auto;
}

#Header ul {
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    list-style: none;
}

#Header a {
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    padding: 13px 0;
    text-transform: capitalize;
    text-decoration: none;
}

#Header .booking-button a {
    color: var(--color_main);
    background-color: #fff;
}

#Header .booking-button {
    height: 60px;
    padding: 15px 25px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #fff;
}

#Header .booking-button:hover {
    background-color: var(--color_main);
}

#Header .booking-button:hover a {
    color: #fff;
    background-color: var(--color_main);
}

#Header .nav-item {
    position: relative;
    z-index: 999;
}

#Header .nav-list .nav-item::before {
    width: 36px;
    height: 36px;
    background: #028B8A;
    position: absolute;
    z-index: 999;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

#Header .nav-list .nav-item:hover::before {
    opacity: 0.7;
    visibility: visible;
}

.scrollup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    line-height: 40px;
    background: #029E9D;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    z-index: 999;
}

body {
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    color: #666;
}

/* Banner */
#banner img {
    position: relative;
    height: 304px;
}

#banner .img::before {
    content: " ";
    background-color: var(--color_main);
    width: 100%;
    height: 304px;
    position: absolute;
    z-index: 4;
    opacity: 0.87;
}

#banner .text {
    position: absolute;
    z-index: 5;
    height: 304px;
    width: 100vw;
    top: 172.4px;
    left: 0;
    justify-content: center;
    align-items: center;
}

#banner .text h1 {
    font-size: 44px;
    font-family: var(--font1) !important;
    color: #FFF;
    margin: 0 0 25px;
    letter-spacing: 3px;
    font-weight: 500;
}

#banner .text a {
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}

#banner .text samp {
    font-size: 18px;
    padding: 0 0 0 8px;
    color: #FFF;
}

/* Blog_List */
.bg>img{
    max-width: 100%;
    position: relative;
}
#blog_list{
    position: absolute;
    top: 570px;
    width: 80%;
    max-width: 80%;
    margin: 0 10%;
    flex-wrap: wrap;
}
#blog_list .t {
    width: max-content;
    box-shadow: #878787;
    margin: 13px;
}

#blog_list img {
    position: relative;
    width: 370px;
    height: 259px;
}

#blog_list .time {
    position: absolute;
    z-index: 4;
    background-color: var(--color_brush);
    border: none;
    padding: 14px 12px;
    color: #FFF;
    text-align: center;
    margin: 13px;
    font-weight: 600;
}

#blog_list .card {
    padding: 30px;
    width: 370px;
    height: 220px;
}

#blog_list .tags {
    justify-content: space-between;
    margin: 0 0 20px;
}

#blog_list .tags img{
    width: 30px;
    height: 30px;
}
#blog_list .tags .infor_character{
    margin: 0 0 0 20px;
}
#blog_list .infor_character h6{
    color: #666;
    font-size: 12px;
}
#blog_list .infor_character p{
    font-size: 12px;
    color: #9b9b9b;
}
#blog_list .time_up{
    font-size: 12px;
    color: #878787;
}
#blog_list h5{
    color: #666;
    font-size: 18px;
    margin: 0 0 20px;
}
#blog_list .read_more{
    justify-content: space-between; 
    color: var(--color_main); 
    font-weight: 600;
}

#blog_list .read_more a{
    text-decoration: none;
    color: var(--color_main); 
}

#blog_list .read_more:hover{
    color: #17233E;
    cursor:pointer;
}

/* Footer */
#footer{
    width: 100%;
    float: left;
    height: auto;
    padding: 70px 0;
    background: #17233E url(./img/footer-bg.png) no-repeat top center;
    position: absolute;
    top:1680px;
}
#footer .container{
    width: 84vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#footer .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
#footer .row  .col1 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
#footer .row  .col2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 15px;
} 
#footer .row  .col3 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding: 0 15px;
}
#footer .row .footer-widget {
    width: 100%;
    float: left;
    height: auto;
    margin: 0 0 30px;
}
#footer .row h5 {
    color: #fff;
    margin: 0 0 30px;
    font-family: var(--font_main);
    font-size: 24px;
    font-weight: 600;
}
#footer .row ul{
    list-style-type: none;
}
#footer .row a {
    color: #fff;
    opacity: 0.8;
    outline: none !important;
    text-decoration: none;
}
#footer .row p {
    color: #fff;
    opacity: 0.8;
}
#footer .subcribe-form {
    position: relative;
    height: 74px;
    margin-top: 30px;
}
#footer .subcribe-form input {
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-out;
    height: 100%;
    color: #B9B9B9;
    padding: 20px;
    width: auto;
}
#footer .subcribe-form button {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: #029E9D;
    height: 100%;
    border-radius: 5px;
    padding: 10px 25px;
    width: auto;
}
#footer .footer-left {
    display: flex;
    align-items: center;
}
#footer .mt-5, .my-5 {
    margin-top: 3rem!important;
}
#footer .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#footer .footer-left img {
    width: 196px;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
#footer .footer-left .h-border {
    margin: 0 30px;
    height: 40px;
    border: 1px solid #818A9F;
}
#footer .social{
    text-align: center;
    justify-content: space-between;
    width: 25vw;
}
#footer .social i{
    font-size: 30px;
    padding: 1rem;
}
#footer .social ul{
    align-items: center;
    justify-content: space-between;
}
#footer .social li{
    width: 62px;
    background-color: #414c61;
    border-radius: 50%;
    margin: 0 5px;
}